/*/ Place all the styles related to the bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

/*font-family: 'Lily Script One', cursive;
font-family: 'Open Sans', sans-serif;*/
* {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

#title {
  font-family: 'Lily Script One', cursive;
  font-size: 40px;
  color: black;
  display: inline;
  padding: 10px;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#margin_fix {
  margin-left: 40px;
}

body {
  background-image:url(image_path("../../assets/map_copy.png"));
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: left top;
  position:absolute;
  height:100%;
  width: 100%;
  margin:0;
}

.container {
  background-color: rgba(236, 240, 241,0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  margin-top: 55px;
  height: 100%;
}

.container li {
  font-size: 16px;
}

#map-canvas {
  z-index: 0;
  margin-top: 55px;
}

#my-map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}

#panel {
  position: fixed;
  top: 8px;
  left: 50%;
  margin-left: -350px;
  z-index: 500;
  background-color: #fff;
  padding: 5px;
}

#modepanel {
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: 150px;
  z-index: 500;
  background-color: #fff;
  padding: 5px;
}

#mode {
  background-color: #fff;
  z-index: 500;
  font-size: 16px;
}

#elevation_chart {
  position: fixed;
  z-index: 1;
  width: 25%;
  height: 20%;
  top: 100px;
  right: 10px;
}

#directionsPanel {
   position: fixed;
   right: 10px;
   top: 250px;
   width: 25%; 
   height: 63%;
   z-index: 2;
   overflow: auto;
}

.adp, .adp table, .adp-list, .adp-summary {
  color: white;
  background-color: rgba(127, 140, 141,0.6);
}

.adp-listsel {
  background-color: #4B0082;
  opacity: 0.7;
}

.adp-warnbox {
  visibility: hidden;
  height: 0px;
}


#navigation {
  height: 55px;
  width: 100%;
  background-color: white;
  position:fixed;
  z-index: 2;
}

.navbar {
  padding: 0, 20px;

}

.navbar-header, .navbar-right, .navbar-text, {
  z-index: 2;
}

.white {
  color: white;
}

.hide {
  visibility: hidden;
  height: 0px;
}

#save-route{
  position:absolute;
  right:0px;
  z-index: 1;

}

#save_btn {
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: #4B0082;
  color: white;
  opacity: 0.7;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  margin-top: 57px;
  margin-right: 10px;
  z-index: 1;
}

#save_btn:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#please {
  color: #4B0082;
  font-size: 16px;
  margin-top: 60px;
  margin-right: 10px;
  z-index: 0;
  background-color: rgba(127, 140, 141,0.6);
  padding: 8px;
}


.hidden {
  display: none;
}

.showlist {
  display: block;
  font-size: 16px;
}

#showlistbtn {
  display: -webkit-box;
  margin: 5px;
}

.btn {
  margin: 5px;
}

div.modal-content {
  /*height: 200px;*/
  /*width: 600px;*/
}

.modal-form {
  text-align: right;
  padding: 30px 100px 30px 0;

}

#user_name, #user_email, #user_password, #user_password_confirmation {
  width: 350px;
}

.btn-ocean {
  color: #000;
  background-color: #7dcdcd;
  border-color: #7dcdcd;
}

