
<div id="panel">
	<b>Start: </b>
  <label for="start"></label>
  <input id="start" name="start" type="text"/>
	<b>End: </b>
	<label for="end"></label>
  <input id="end" name="end" type="text"/>
  <input id="submit_btn" name="commit" type="submit" onclick="calcRoute()"/>
</div>

<div id="modepanel">
	<b>Mode of Travel: </b>
	<select id="mode" onchange="calcRoute();">
	  <option value="BICYCLING">Bicycling</option>
	  <option value="WALKING">Walking</option>
	  <option value="DRIVING">Driving</option>
	  <option value="TRANSIT">Transit</option>
	</select>

</div>

<div id="save-route">
	<%= form_for :journey,  url: journeys_path, method: "post", html: {id: "new_journey"} do |f| %>
			<div id="start_div">
					<input id="form_start" type="hidden" name="journey[start]">
			</div>
			<div id="waypoints">
			</div>
			<div id="end_div">
				<input id="form_end" type="hidden" name="journey[end]">
			</div>
		<!-- 	<div id="distance_div">
				<input id="distance" type="hidden" name="journey[distance]">
			</div>
			<div id="time_div">
				<input id="time" type="hidden" name="journey[time]">
			</div> -->
			<button id="save_btn" class="hidden"> Save Route </button>
			<div id="please" class="hidden">Please sign in to save your route.</div>
			<%#= flash[:message] %>
	<% end %>
</div>

<div id="map-canvas"></div>
<div id="right-side"></div>
<div id="elevation_chart"></div>
<div id="directionsPanel"></div>
</div>



