
<div id="panel">
	<b>Start: </b>
<!-- 	<select id="start" onchange="calcRoute();">
	  <option value="Embarcadero Center, san francisco, ca">Embarcadero</option>
	  <option value="Golden Gate Park, san francisco, ca">Golden Gate Park</option>
	  <option value="411 Branan St, san francisco, ca">GA</option>
	  <option value="berkeley, ca">berkeley</option>
	  <option value="los angeles, ca">Los Angeles</option>
	</select> -->


  <label for="start"></label>
  <input id="start" name="start" type="text"/>
  <!-- <input name="commit" type="submit" onclick="calcRoute()"/> -->
	  
	
	<b>End: </b>

	<label for="end"></label>
  <input id="end" name="end" type="text"/>
  <input name="commit" type="submit" onclick="calcRoute()"/>
</div>

<div id="modepanel">
	<b>Mode of Travel: </b>
	<select id="mode" onchange="calcRoute();">
	  <option value="BICYCLING">Bicycling</option>
	  <option value="WALKING">Walking</option>
	  <option value="DRIVING">Driving</option>
	  <option value="TRANSIT">Transit</option>
	</select>

</div>
<%= flash[:message] %>
<div id="map-canvas" style="float:left;width:75%; height:80%"></div>
<div id="directionsPanel" style="float:right;width:25%; height 100%"></div>
<div id="elevation_chart" style="float:left;width:75%; height:20%"></div>
