

<div id="my-start">Here is your route from <%= @journey["origin"] %></div>
<div id="my-end">to <%= @journey["destination"] %></div>

<% if @journey.waypoints != nil %>
	<% @journey.waypoints.each do |waypoint| %>
	<% @waypoints << (waypoint["way_lat"].to_f) %>
	<% @waypoints << (waypoint["way_lng"].to_f) %>
	<% end %>
<% end %>
<div id="waypoints"><% @waypoints %></div>

<script>
	function initialize() {
	  directionsDisplay = new google.maps.DirectionsRenderer();
	  var san_francisco = new google.maps.LatLng(37.7933, -122.3167);
	  var mapOptions = {
	    zoom:12,
	    center: san_francisco,
	    mapTypeControl: true,
	    mapTypeControlOptions: {
	    	style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	    	position: google.maps.ControlPosition.TOP_LEFT
	    },
	    panControl: false,
	    panControlOptions: {
	    	position: google.maps.ControlPosition.TOP_LEFT
	    }
	  }
	  my_map = new google.maps.Map(document.getElementById('my-map-canvas'), mapOptions);
	  directionsDisplay.setMap(my_map);
	  directionsDisplay.setPanel(document.getElementById("directionsPanel"));
	  calcRoute();
	}


	function calcRoute() {
	  var my_start = document.getElementById('my-start').innerHTML;
	  var my_end = document.getElementById('my-end').innerHTML;
	  var checkboxArray = eval(document.getElementById("waypoints").innerHTML);
	  var waypoints = [];
	  if(checkboxArray!==undefined){
	  	for (var i = 0; i < checkboxArray.length; i+=2) {
	  	waypoints.push({location: new google.maps.LatLng(checkboxArray[i], checkboxArray[i+1]),
	  	stopover:true
	  	});
	  }
	}
	  var request = {
	      origin: my_start,
	      waypoints: waypoints,
	      destination: my_end,
	      travelMode: google.maps.TravelMode.BICYCLING
	  }
	  directionsService.route(request, function(response, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	      directionsDisplay.setDirections(response);
	    }
	  });
	}

	google.maps.event.addDomListener(window, 'load', initialize);
	// $(document).on('ready page:load', initialize);

</script>

<div id="my-map-canvas">
</div>
